{%extends 'main.html'%}


{% block content %}

<div style="border: solid rgb(20, 73, 196) 2px; width: 100%; margin-bottom: 15px;">
    <div class="card-body">
      <img class="post-photo" src="https://i.guim.co.uk/img/media/26392d05302e02f7bf4eb143bb84c8097d09144b/446_167_3683_2210/master/3683.jpg?width=620&quality=45&auto=format&fit=max&dpr=2&s=6fe0ebd22151102996062fa1287f824c" alt="">
      <h3 style="position: relative; left: 80px; bottom: 50px;"> username</h3>
      
      
      <div class="mb-3">
        <label for="" class="form-label">edit body</label>
        <textarea class="form-control" id="" rows="2"></textarea>
      </div>
    
      
      
      <div class="mb-3">
        <label for="" class="form-label">imageUrl</label>
        <input type="email" class="form-control" id="" placeholder="">
      </div>

      <input style="margin-top: 10px;" type="submit" class="btn btn-primary" value="upload">    

      </div>
    </div>
  </div>

</div>
{% endblock %}